name: CI

on:
  push:
    branches:
      - master
      - 'another-one/**'

jobs:
  Build:
    name: instance-build
    if: github.ref == 'refs/heads/another-one'
    runs-on: ubuntu-latest
    outputs:
      app_version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Greet User
        run: echo "Welcome"

      - name: Generate Version Number
        id: version
        run: |
          TIMESTAMP=$(date +'%Y%m%d%H%M%S')
          VERSION="v${TIMESTAMP}_${RANDOM}"
          echo "APP_VERSION=$VERSION" >> $GITHUB_ENV
          echo "::set-output name=version::$VERSION"
          
      - name: Build the Docker Image
        env:
          image_name: test-image
          username: monyslim
          APP_VERSION: ${{ steps.version.outputs.version }}
        run: |
          docker build -t $username/$image_name:${{ env.APP_VERSION }} .

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Push Docker Image to Docker Hub
        env: 
          image_name: test-image
          username: monyslim
          APP_VERSION: ${{ steps.version.outputs.version }}
        run: |   
          docker push $username/$image_name:${{ env.APP_VERSION }}

      - name: Send email notification
        uses: dawidd6/action-send-mail@v3
        with:
            server_address: smtp.gmail.com
            server_port: 465
            secure: true
            username: prcenturionboy@gmail.com
            password: ${{ secrets.EMAIL_PASSWORD }}
            subject: "Docker Image Deployed"
            to: "dewcapontaareh@gmail.com"
            from: "prcenturionboy@gmail.com"
            body: |
              Hello,
              The latest version of the Docker image (version: ${{ steps.version.outputs.version }}) has been built.

  Deploy:
    name: Deploy Docker Image
    if: github.ref == 'refs/heads/master'
    runs-on: self-hosted
    needs: Build
    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Pull and Deploy Docker Image
        env: 
          image_name: test-image
          username: monyslim
          APP_VERSION: ${{ needs.Build.outputs.app_version }}
        run: |
          docker pull $username/$image_name:${{ env.APP_VERSION }}

      - name: Run Docker Container
        env:
          image_name: test-image
          username: monyslim
          APP_VERSION: ${{ needs.Build.outputs.app_version }}
        run: |
          docker run -d -p 808:80 $username/$image_name:${{ env.APP_VERSION }}

      - name: Send email notification
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: prcenturionboy@gmail.com
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: "Docker Image Deployed"
          to: "dewcapontaareh@gmail.com"
          from: "prcenturionboy@gmail.com"
          body: |
            Hello,
            The latest version of the Docker image (version: ${{ needs.Build.outputs.app_version }}) has been deployed.
